include ../mixins/index
<!DOCTYPE html>
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="theme-color" content="#8F67A4")
    link(
      rel="stylesheet",
      type="text/css",
      media="all",
      href='../static/css/style.css'
    )
    link(
      rel="icon",
      href='../static/img/favicon.ico',
      type="image/x-icon"
    )
    block title
     
    
  body
    #app
      block header
        
      block main
        
      block footer
      
      +b.modal-wrapper#modal-wrapper
        +b.modal.modal-position.--position-2.pos-abs(aria-hidden='true')#formModal
          +e.overlay(data-micromodal-close)
          +e.container#innerModal(aria-modal='true') 

      block modal 
        include ./element/modal

    script(type="text/javascript", src='../static/js/vendor.js')
    script(type="text/javascript", src='../static/js/main.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqlb7J9FCMzqTHSUCF7crqqBF1MT-7jqI&callback=initMap&libraries=&v=weekly" async)